body {
   font-family: Arial, sans-serif;
   line-height: 1.6;
   margin: 0;
   padding: 0;
   color: #333;
   background-color: #f4f4f4;
}


header {
   background: #005a9c;
   color: #fff;
   padding: 10px 20px;
   text-align: center;
}


header p {
   font-size: 1.2em;
}


section {
   padding: 20px;
   margin: 0 10px;
}


h2 {
   color: #005a9c;
}


.developer {
   background: #fff;
   padding: 10px;
   margin-top: 10px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


footer {
   text-align: center;
   padding: 10px 0;
   background: #333;
   color: #fff;
}


footer p {
   margin: 0;
}

#logoutButton {
   position: fixed;
   right: 20px;
   top: 20px;
   padding: 5px 10px;
   background-color: #f44336;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   z-index: 1000;
}