body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-color: white;
}
.wrapper{
    position: relative;
    width: 600px;
    height: 600px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column; /* Arrange children vertically */
}

.taskDetail{
    background-color: aqua;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 0; /* Position taskDetail at the top */
    flex-direction: column;
}

.discussion{
    background-color: red;
    width: 600px;
    height: 300px;
    position: absolute;
    bottom: 0; /* Position discussion at the bottom */
    flex-direction: column;
}