html{
    background-color: lightblue;
}
#team{
    margin-left: 250px;
    display: flex;
    border: 5px black;
}

#team p{
    font-size: 12px;
    font-family: Arial;
}
.image{
    height: 50px;
    width: 50px;
}
.image1{
    height: 300px;
    width: 350px;
}
.member{
    margin-right: 200px;
}
div a{
    font-size: 20px;
    padding: 50px;
    margin-left: 250px;
}
#navigator{
    background-color: lightgreen;
}